<% cache("us_charts", :expires_in => 1.day) do %>
  <div class="container">
    <%= render partial: "shared/callout_boxes" %>
  </div>
  <div class="container map">
    <%= render partial: "shared/map" %>
  </div>
  <section class="us">
    <%= render partial: "shared/graphs" %>
  </section>
<% end %>
