<!-- <% cache("states_charts", :expires_in => 1.day) do %>
  <div class="container box-map clearfix states">
    <%= select_tag "states", options_from_collection_for_select(@states, "abbr", "name"), class: "form-control", include_blank: "Select a State" %>
    <div class="callout-boxes">
      <%= render partial: "shared/callout_boxes" %>
    </div>
    <div class="map">
      <%= render partial: "shared/map" %>
    </div>
    <section class="states">
      <%= render partial: "shared/graphs" %>
    </section>
  </div>
<% end %> -->
