<section class="installs">
  <h3># of Installs</h3>
  <h4></h4>
</section>

<section class="capacity">
  <h3>Total Capacity</h3>
  <h4></h4>
</section>

<section class="cost">
  <h3>Avg Cost/yr</h3>
  <h4></h4>
</section>
