/*** General ***/
body {
  padding-bottom: 20px;
}

/*** Nav ***/

.navbar-default {
  background-color: rgba(255,255,255,1);
  margin-bottom: 0;
}

.navbar-nav {
  text-align: center;
}

.navbar-header img {
  width: 141px;
}

.navbar-collapse[aria-expanded=true] li {
  border-bottom: 1px solid rgba(231,231,231,1);
}

.navbar-collapse[aria-expanded=true] li:last-of-type {
  border-bottom: none;
}

/*** State Select Dropdown ***/

#states {
  margin-top: 20px;
}

/*** Callout Boxes ***/

.installs h3, .installs h4,
.capacity h3, .capacity h4,
.cost h3, .cost h4 {
  text-align: center;
}

.installs h3,
.capacity h3,
.cost h3 {
  background-color: rgba(2,99,180,1);
  color: #fff;
  font-size: 1.3rem;
  margin-bottom: 0;
  padding: 10px 0;
}

.installs h4,
.capacity h4,
.cost h4 {
  border: 1px solid rgba(2,99,180,1);
  font-size: 1.3rem;
  height: 50px;
  line-height: 50px;
  margin-top: 0;
}

/*** Graphs ***/

/*** Maps ***/
.info {
  padding: 6px 8px;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  font-size: 1.4rem;
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.map {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*** Media Queries ***/

@media (min-width: 768px) {
  .box-map {
    padding: 0 28px;
  }

  .box-map .map {
    float: left;
    width: 70%;
  }

  .box-map #map {
    height: 312px !important;
  }

  .box-map .callout-boxes {
    float: right;
    width: 25%;
  }

  canvas {
    width: 32% !important;
    max-width: 768px;
    height: auto !important;
  }

  #size {
    margin: 0 1.4%;
  }
}
