<header>
  <div class="navbar navbar-default navbar-fat navbar-clean">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar b1"></span>
          <span class="icon-bar b2"></span>
          <span class="icon-bar b3"></span>
        </button>
        <%= link_to image_tag("nrel-logo.jpg", alt: "NREL"), root_path, class: "navbar-brand" %>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "USA", "#" %></li>
          <li><%= link_to "State", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
